@import url(https://fonts.googleapis.com/css2?family=Gravitas+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

body {
    color: #000;
    background-color: rgb(250, 249, 242);

    font-size: 16px;
    font-weight: 400;
    font-family: "Gravitas One", serif;
}

.container {
    max-width: 750px;
    margin: auto;

}

.container > div:nth-child(n+3) {
    border: #000 solid;
    border-radius:10px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-left: none;
    border-right: none;
}

h1, h2 {
    text-align: center;
    padding-bottom: 20px;
}



.info {
    display: flex;
    margin-bottom: 30px;
}

.info img {
    width: 250px;
    margin-right: 30px;
    border-radius: 20px;
}

.info-text p {
    margin: 2px;

}

.info-text p:first-child {
    color: grey;
    padding-left: 2px;
}

.info-text > div:nth-last-child(n+2) {
    margin-bottom: 40px;
}

.info-about-me p:last-child {
    text-align:justify
}

li {
    color: grey;
    padding-bottom: 7px;
    list-style: square ;
    margin-left: 10px;
    width: 100%
}



td {
    padding-bottom: 7px;
    padding-right: 100px;
}

.time-data {
    margin-left: 200px;
    color: grey;
}

.courses-data {
    text-align: center;
    margin-left: 115px
}

.courses-data-tbody > tr:nth-child(n+2) {
    color: grey;
}



.contacts-block {
    display: flex;
    text-align: center;
}

.contacts-block div {
    margin-right: 110px;
    margin-left: 10px;
    color: grey;
}

.contacts img{
    width: 50px;
}

a {
    color: grey;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}

a { 
    position: relative; 
}

a::before {
content: '';
position: absolute;
width: 100%;
height: 4px;
border-radius: 4px;
background-color: #18272F;
bottom: 0; left: 0;
transform-origin: right;
transform: scaleX(0);
transition: transform .3s ease-in-out;
}

a:hover::before {
transform-origin: left;
transform: scaleX(1);
}